@import url('https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway|Roboto:100');
* { font-family: 'Open Sans', sans-serif; }
h1, h2 { font-family: 'Roboto', sans-serif; }

body {
	background: url('./res/bg.jpg');
	margin: 0;
	padding: 0;
	display: inline-flex;
	width: 100%;
	height: 100%;
}

.hidden {
	display: none;
}

a {
	color: #ff8d8d;
	text-decoration: none;
	margin: 0 15px;
}

div#content {
	color: #ffffff;
	background-color: rgba(0,0,0,.5);
	margin: 0;
	width: 30%;
	height: 100%;
}

div#content h1 {
	text-align: center;
	margin: 50px 0 0 0;
	font-size: 102px;
}

div#content p {
	display: block;
	margin: 50px 30px;
}

div#content ul {
	display: block;
	padding: 0;
	margin: 20px 40px 0 40px;
}

div#rules {
	display: none;
}

div#rules ol {
	margin: 10px 0;
}

div#nav {
	font-size: 24px;
	text-align: center;
	width: 30%;
	display: block;
	position: absolute;
	bottom: 45px;
}

div#board {
	margin-left: 60px;
}

div#board img {
	width: 38px;
	height: 38px;
}

img.piece {
	position: absolute;
}

img[id$="hover-piece"] {
	opacity: .8;
}
